<div class="col-sm-9">
  <%= render 'layouts/errors', :object => @tale %>
  <!-- <img class="big-pic" src="<%= thing = random_pic %>"> -->
  <%= form_for @tale do |f| %>
    <%= f.hidden_field :picture, :value => thing = "spooks/#{random_pic}", class: 'form-control' %>
    <%= image_tag thing, class: "big-pic" %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <%= f.submit  class: 'btn btn-danger'%>
  <% end %>
</div>
