<div class="col-sm-9">
  <%= render 'layouts/errors', :object => @tale %>

  <img class="big-pic" src="<%= thing = random_pic %>">
  <%= form_for @tale do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label 'Replace picture URL if this is too scary' %>
    <%= f.text_field :picture, :value => thing, class: 'form-control' %>

    <%= f.submit  class: 'btn btn-danger'%>
  <% end %>
</div>
