<div class="col-sm-9">
  <%= render 'layouts/errors', :object => @contribution %>
<h1><%= @tale.title %></h1>
  <div class="well row">
    <div class="col-sm-6">
      <img class="little-pic" src="<%= thing = random_pic %>" alt="">
    </div>
    <div class="col-sm-6">
      <%= form_for [@tale, @contribution] do |f| %>
      <%= f.hidden_field :account_id, :value => current_account.id %>

      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.text_field :image,  :value => thing, class: 'form-control' %>

      <%= f.submit  class: 'btn btn-danger'%>
      <% end %>
    </div>
  </div>
</div>
<div class="jumbotron">
  <!-- <div class="col-sm-6"> -->
  <img class="little-pic" src="<%= @tale.picture %>">
  <!-- </div> -->
</div>
